^https?:\/\/userapi\.qiekj\.com\/appTitle\/get$ reject-dict
^https?:\/\/userapi\.qiekj\.com\/slot\/get$ reject-dict
^https:\/\/userapi\.qiekj\.com\/integralRecord\/integralDailStatistics$ reject-dict
^https:\/\/userapi\.qiekj\.com\/local-life\/category$ reject-dict
^https:\/\/userapi\.qiekj\.com\/integralGoods\/queryIntegralGoodsPage$ reject-dict
^https:\/\/userapi\.qiekj\.com\/task\/list$ reject-dict
^https:\/\/userapi\.qiekj\.com\/local-life\/tab-order$ jsonjq-response-body data []
^https:\/\/userapi\.qiekj\.com\/integralGoods\/queryIntegralGoodsCategoryList$ jsonjq-response-body data []

hostname = userapi.qiekj.com